body{
    margin: 0;
}

#content{

    height: auto;
    display: grid;
    grid-template-columns: .5fr 1.5fr 1.5fr;
    grid-template-rows: .5fr 1.5fr 1.5fr;
    grid-template-areas: 
    "top top top"
    "side main main"
    "side main main";
}

/* SIDEBAR STYLES */
.sideBar{

    min-height: 100vh;
    grid-area: side;
    background-color: rgb(8, 103, 187);
    padding: .75rem;
    padding-top: 3rem;
    
}

.sideBarControls{

    max-width: inherit;
    max-height: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding-top:0;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: 0;
    
}

.smallIcon{

    height: 3rem;
    width: auto;    
}

.smallIcon:hover{
    filter: 
        invert(0.5)
        sepia(1)
        saturate(20)
        hue-rotate(21deg)
        brightness(1.5);
        /* this is incredile! because svg is in an image tag in HTML, can't access 
        fill and stroke attribute,
        using filter however we can play around with the colour!
        https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/ */
}

.sideBarCard{
    border-radius: 10px;
    background-color: white;
    max-width: inherit;
    height: 15rem;
    padding: .5rem;
    overflow: hidden;
}

/* TOP BAR STYLES */
.topBar{

    min-width: 100vw;
    grid-area: top;
    background-color: rgb(125, 172, 241);

}

/* MAIN CONTENT STYLES */

.main{
    grid-area: main;
    background-color: rgb(245, 239, 239);

}

/* MODAL AND FORM STYLES */

#projectFormModal{
    border-radius: 10px;
    height: 15rem;
}

#projectFormModal form{
    display: flex;
    flex-direction: column;
    height: 12.5rem;
    
}

#projectFormModal form legend{
    font-size: 1.75rem;
    margin-bottom: .75rem;
}

#projectFormModal form input{
    font-size: 1.25rem;
    margin-bottom: .5rem;    

}

#projectFormModal form .buttonDiv{
    display: flex;
    justify-self: baseline;
}